---
import type { CollectionEntry } from "astro:content";
import { getProjectSortDate } from "@/data/insight";
import type { HTMLTag, Polymorphic } from "astro/types";
import FormattedDate from "../FormattedDate.astro";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	insight: CollectionEntry<"insight">;
	withDesc?: boolean;
};

const { as: Tag = "div", insight, withDesc = false } = Astro.props;
const insightDate = getProjectSortDate(insight);
---

<FormattedDate class="min-w-[120px] text-gray-600 dark:text-gray-400" date={insightDate} />
<Tag>
	{insight.data.draft && <span class="text-red-500">(Draft) </span>}
	<a class="cactus-link" data-astro-prefetch href={`/insights/${insight.slug}/`}>
		{insight.data.title}
	</a>
</Tag>
{withDesc && <q class="line-clamp-3 italic">{insight.data.description}</q>}
