@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BungeeTint';
    src: url('/fonts/BungeeTint-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Ubuntu;
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
}

:root {
    --accent: #003049;
    --accent-light: #FCBF49;
    --accent-light2: 234, 226, 183;
    --accent-gradient:
        linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);
}

html {
    font-family: -apple-system,system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
    background: #003049;
}

ul {
    list-style-type: none;
    padding: 0;
}


code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

main {
    margin: auto;
    width: 1080px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 1em;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}