---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Florian Zeba • Data Engineer">
	<main>	
		<h1 class="heading1">Florian Zeba</h1>
		<h2>Intro</h2>
		<div class="intro-grid">
			<div class="photo-box" id="profile-pic">
				<img src="/assets/Dev_Pic_FZ.jpg" alt="Profile Picture" width="100%" height="100%" style="border-radius: 2%;">
			</div>
			<div class="instructions-box">
				<ul>
					<li>Nice to meet you. I am Data / Backend IT-Guy.</li> <br>
					<li>My focus lies on implementing software and algorithms which are maintainable.</li> <br>
					<li>I create:</li>
					<strong>
					<li>∆ Data Pipelines, Data Warehouses and implement Machine Learning Models.</li>
					<li>∆ APIs, Microservices and Web Applications.</li>
					<li>∆ Front-End... mhh... no thanks :D</li>
					</strong>
				</ul>
			</div>
		</div>
		<h2>Projects</h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="#"
				title="Data Engineering"
				body="See Data Pipelines, Data Warehouses, etc"
			/>
			<Card
				href="#"
				title="Business Analytics"
				body="Browse projects with business value"
			/>
			<Card
				href="#"
				title="AI & Machine Learning"
				body="Search for AI & ML Projects"
			/>
			<Card
				href="#"
				title="Software Development"
				body="Software? Let's see"
			/>
		</ul>

		<h2>Curriculum Vitae</h2>
		<p>Coming Soon...</p>

		<h2>Contact</h2>
		<div class="instructions-box">
			<ul class="flex-init">
				<li> <a href="mailto:florian@fzeba.com"><object data="/assets/mail-icon.svg" type="image/svg+xml"></object></li> <br>
				<li> <a href="https://at.linkedin.com/in/florian-zeba"><img src = "/assets/linkedin-icon.svg" alt="LinkedIn Icon"/></a></li> <br>
				<li> <a href="https://github.com/flnzba"><img src = "/assets/github-icon.svg" alt="GitHub Icon"/></a></li> <br>
			</ul>
		</div>
	</main>
</Layout>
