---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import FooterSec from '../components/FooterSec.astro';
import Projects from '../components/Projects.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title='Florian Zeba • Data Engineer'>
	<main transition:animate="slide">
		<h1 class='heading1'>Florian Zeba</h1>

		<Navbar />

		<Hero />

		<Projects/>

		<br />

		<FooterSec/>

	</main>
</Layout>
