<footer>
    <div class='footer-section'>
        <p>Imprint</p>
        <p>Icons provided by:</p>
        <ul>
            <li>
                <a
                    target='_blank'
                    href='https://icons8.com/icon/12598/github'
                    >GitHub</a
                > Icon from <a target='_blank' href='https://icons8.com'
                    >Icons8</a>
            </li>
            <li>
                <a
                    target='_blank'
                    href='https://icons8.com/icon/447/linkedin'
                    >LinkedIn</a
                > Icon von <a target='_blank' href='https://icons8.com'
                    >Icons8</a>
            </li>
            <li>
                <a
                    target='_blank'
                    href='https://icons8.com/icon/baRhMh2wmjbT/mail'
                    >Apple-Mail</a
                > Icon von <a target='_blank' href='https://icons8.com'
                    >Icons8</a>
            </li>
        </ul>
    </div>
</footer>