<div class="other-boxes">
    <ul class="social_icons">
        <li>
            <a href="mailto:florian@fzeba.com">
                <img src="/assets/icons8-apple-mail-150.png" alt="Mail Icon" style="width:2.5rem; height:2.5rem;" />
            </a>
        </li>
        <li>
            <a href="https://at.linkedin.com/in/florian-zeba">
                <img src="/assets/icons8-linkedin-150.png" alt="LinkedIn Icon" style="width:2.5rem; height:2.5rem;" />
            </a>
        </li>
        <li>
            <a href="https://github.com/flnzba">
                <img src="/assets/icons8-github-150.png" alt="GitHub Icon" style="width:2.5rem; height:2.5rem;" />
            </a>
        </li>
    </ul>
</div>