---
import type { number } from 'astro/zod';
import projectList from '../../data/projectList.json';

export function getStaticPaths() {
  return [
    {params: {Number: {projectList}}},
    {params: {dog: 'rover'}},
    {params: {dog: 'spot'}},
  ];
}

// TODO: return Static Path Param from Projects JSON

const { dog } = Astro.params;
---
<div>Good dog, {dog}!</div>