---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/classes.css" />
		<link rel="stylesheet" type="text/css" href="css/nested_classes.css" />
		<script is:inline src="https://unpkg.com/htmx.org@2.0.3" defer></script>
		<script is:inline src="https://unpkg.com/alpinejs" defer></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
